<a href="https://colab.research.google.com/github/samw8/aiie2025-/blob/main/Sam_Live_Original_AIIE_2025_Knowledge_Check_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Knowlegde Check - 2

## Question# 1

Points : 5 *italicized text*

Write a function that returns the smallest of two even numbers, if both numbers are even and, the greater if one or both numbers are odd
   
                   lesser_of_two_evens(2,4) --> 2
                   lesser_of_two_evens(2,5) --> 5

In [4]:
def smallest_of_two_evens(a,b):
    lesser_of_two_evens = (a,b)
    if a % 2 == 0 and b % 2 == 0:
      return min(a,b)
    else:
      return max (a,b)

In [5]:
# Check1
smallest_of_two_evens(2,4)

2

In [6]:
# Check2
smallest_of_two_evens(2,5)

5

## Question# 2

Points : 5

Write a function takes a two-word string and returns True if both words begin with same letter.

            word_crackers('Lion', 'Lady') --> True
            word_crackers('Crazy', 'Drink') --> False

In [10]:
def animal_crackers(word1,word2):
    #Write code here!
    word_crackers = (word1,word2)
    if word1[0] == word2[0]:
      return 'True'
    else:
      return 'False'

In [11]:
# Check1
animal_crackers('Lion', 'Lady')

'True'

In [12]:
# Check2
animal_crackers('Crazy', 'Drink')

'False'

## Question# 3

Points : 5

Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    sum_twenty(20,10) --> True
    sum_twenty(12,8) --> True
    sum_twenty(2,3) --> False

In [36]:
def sum_twenty(n1,n2):
    #Write code here!
    sum = (n1,n2)
    if n1 + n2 >= 20 or  sum == 20:
      return 'True'
    else:
      return 'False'

In [37]:
# Check1
sum_twenty(20,10)

'True'

In [38]:
# Check2
sum_twenty(2,3)

'False'

## Question# 4

Points : 5

Write a function that capitalizes the first and fourth letters of a name
     
    cap_first_four('macdonald') --> MacDonald

In [64]:
def cap_first_four(name):
    #Write code here!
    if len(name) <4:
      return name[0].upper() + name[1:3] + name[3].upper + name[4:]

In [66]:
# Check
cap_first_four('macdonald')

## Question# 5

Points : 5

Given a sentence, return a sentence with the words reversed

    rev_words('I am home') --> 'home am I'
    rev_words('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join.

    " ".join(['Hello','world'])
    "Hello world"

In [93]:
def rev_words(text):
    #Write code here!
    return " ".join(text.split()[::-1])

In [94]:
# Check1
rev_words('I am home')

'home am I'

In [95]:
# Check2
rev_words('We are ready')

'ready are We'

## Question# 6

Points : 5

Given an integer n, return True if n is nearest to either 100 or 200 with the difference of upto 10.

    nearest_num(90) --> True
    nearest_num(104) --> True
    nearest_num(150) --> False
    nearest_num(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [103]:
def nearest_num(n):
    #Write code here!
    if abs(100 -n) < 10 or abs(200 -n) <10:
      return 'true'
    else:
      return 'False'

In [1]:
# Check1
nearest_num(104)

NameError: name 'nearest_num' is not defined

In [105]:
# Check2
nearest_num(150)

'False'

In [106]:
# Check3
nearest_num(209)

'true'

## Question# 7

Points : 5

Given a list of ints, return True if the list contains a same numeric value next.

    contains_two_samevalues([1, 3, 3]) → True
    contains_two_samevalues([1, 3, 1, 3]) → False
    contains_two_samevalues([3, 1, 3]) → False

In [13]:
def contains_two_samevalues(nums):
    #Write code here
    for i in range(len(nums)-1):
      if nums [i:i+1] == nums [i+1:i+2]:
        return 'True'

In [14]:
# Check1
contains_two_samevalues([1, 3, 3])

'True'

In [15]:
# Check2
contains_two_samevalues([1, 3, 1, 3])

In [16]:
# Check3
contains_two_samevalues([3, 1, 3])

## Question# 8

Points : 5

Given a string, return a string where for every character of the string appears 3 time.

    repeat_three('Hello') --> 'HHHeeellllllooo'
    repeat_three('Mississippi') --> 'MMMiiissssssiiissssssiiippppppiii'

In [56]:
def repeat_three(text):

    #write code here
    result = " "
    for letter in text:
      triple = letter * 3
      result += triple
    return result

In [57]:
# Check1
repeat_three('Hello')

' HHHeeellllllooo'

In [58]:
# Check2
repeat_three('Mississippi')

' MMMiiissssssiiissssssiiippppppiii'

## Question# 9

Points : 5

Write a function that returns the *number* of prime numbers that exist up to and including a given number

    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [65]:
def count_primes(num):
    #Write code here
    counter = 0
    for z in range(2,num+1):
        prime=True
        for i in range(2,z):
            if(z%i == 0):
                prime=False
                break
        if prime:
            counter += 1
    return counter

In [66]:
# Check1
count_primes(100)

25