<a href="https://colab.research.google.com/github/samw8/aiie2025-/blob/main/Sam_PracticeOriginal_AIIE_2025_Knowledge_Check_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Knowlwdge Check - 1

### Printing output

1 - Using print(), print your name and city following the format:

        Name : Angela
        City : New York

In [ ]:
print('Name' + ':' + 'Samuel' + '\n' + 'City' + ':' + 'New York')

Name:Samuel
City:New York

2 - Print the message below

     Emergency Alert
     NEWS : FLASH FLOOD WARNING this area till 7:00 PM

In [ ]:
print('Emergency Alert' + '\n' + 'NEWS' + ':' + 'FLASH FLOOD WARNING this area till 7:00 PM')

Emergency Alert
NEWS:FLASH FLOOD WARNING this area till 7:00 PM

### Arithmetic Operators and Variables

3 - Take a number and divide it by 2, then take the output and divide it by 2, and again divide by 2. Use variables.


    Example
    input : 2000
    output is: 1000 500 250

4 - Given three number x, y, and z,


       Output: x to the power of z,
               x to the power of y,
               x minus y,
               remainder value when x is divided by z

5 - Add

        4 quarters (0.25),  3 dimes (0.10), 2 nickels (0.5) and 1 cent
        Output:  the total amount as dollars and cents.

### Strings

6 - Given the string **Python**, with the help of slicing, get **o**.

In [ ]:
my_string = 'Python'

print(my_string[4:5])

o

7 - Given the string **Python**, with the help of slicing get,  **tho**.

In [ ]:
my_string = 'Python'

print(my_string[2:5])

tho

8 - Given the string **Python Class**, with the help of slicing, get **Class**.

9 - Find the length of the String  **Welcome to Pace University**

In [ ]:
len("Welcome to Pace University")

26

10 - Split the String  **Welcome to Pace University**  into words

In [ ]:
s = 'Welcome to Pace University'

s.split()

['Welcome', 'to', 'Pace', 'University']

11 - Replace the letter  **i**  with  **o**  in  **Artificial intelligence**

In [ ]:
s = 'Artifical intelligence'

sn = s.replace('i' , 'o')
print(sn)

Artofocal ontellogence

12 - convert the text  **DATA Science**  into lower case ( as **data science**)

In [ ]:
s = 'DATA Science'

s.lower()

'data science'

13 - convert the text  **DATA Science**  into UPPER case ( as **DATA SCIENCE**)

In [ ]:
s = 'DATA Science'

s.upper

14 - reverse the given String  **Artificial intelligence**

###Comparision Operators

15 - Compare two number a =150, b = 225 and print if they are:

        equal,
        greater,
        greater than or equal to,
        less,
        less than or equal to,  
        not equal
       
        example : a < b
                  print("a is less than b")

a less than b

###Lists

16 - Create a **list** of **lists** of integers elements

17 - Create a **list** of **lists** of Text elements